{% import 'macros.html' as macros %}
{% extends "layout.html" %}

{% set active_page = "view_filters" %}
{% block title %}
	All filters/sets
{% endblock %}

{% block content %}

<table class="table table-hover table-condensed" data-provides="rowlink">
	{{ macros.table_header(columns) }}
	<tbody>
	{% for row in rows %}
		{{ make_row_link(row) }}
	{% endfor %}
	</tbody>
</table>

{% endblock %}


{% macro make_row_link(row) %}
  <tr>
    {% for name in columns %}
	    {% if name == "filter_name" %}
	    <td><a href="/filters/{{ row['filter_name'] }}">{{ row['filter_name'] }}</a></td>
	    {% else %}
	    <td>{{ row[name] }}</td>    
	    {% endif %}
    {% endfor %}
  </tr>
{% endmacro %}