{% import 'macros.html' as macros %}
{% extends "layout.html" %}

{% set active_page = "view_variants" %}
{% block header%}
<link href="/static/custom.css" rel="stylesheet" media="screen">
<style>
.annotation-tabs li {font-size: 16px}
.annotation-tabs li.active {font-weight: bold}
</style>
{% endblock %}
{% block title %}
Genotype Details: chr{{ data["chrom"] }}: {{data["start"]}}{{ '-%d' % data.sto if data.stop }}
{% endblock %}

{% block content %}


<h3>Basic Information</h3>
<dl class="dl-horizontal">
  <dt>Position</dt>
    <dd>chr{{ data["chrom"] }}: {{data["start"]}}{{ '-%d' % data.sto if data.stop }} (<a href="{{ ucsc_linkout(data["chrom"], data["start"], data["end"]) }}" target="_blank">UCSC</a>, <a href="{{ esp_linkout(data["chrom"], data["start"], data["end"]) }}" target="_blank">ESP</a>)</dd>
  <dt>Sample ID</dt>
    <dd><a href='/samples/id:{{ data["sample_id"] }}'>{{ data["sample_name"] }}</a></dd>
  <dt>Alt / Ref</dt>
    <dd>{{ data["alt"]}}  / {{ data["ref"] }}</dd>
  {% if "filter" in data %}
  <dt>Filters/Sets</dt>
    <dd>{{ data["filter"] | join(', ')}}</dd>
  {% endif %}

  {% if "id" in data %}
    <dt>dbSNP</dt>
      <dd><a href="http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs={{ data["id"]|replace('rs','')}}">{{ data["id"]|default("")}}</a></dd> 
  {% endif %}
</dl>


<h3>Annotations and Functional predictions</h3>
<div class="row-fluid">
  <div class="span8">
<table class="table">
  <thead>
    <th>Type</th><th>Gene</th><th>AA Change</th><th>Codon Change</th><th>Transcript</th><th>Exon #</th>
  </thead>
  <tbody>
    {% for row in data["annotations"]["EFF"] %}
      <tr>
        <td><span class="label impact-tag {{ row['effect_code'] }}">{{row["e"]}}</span></td>
        <td><a href="/variants/{{row["g"]}}">{{row["g"]}}</a></td>
        <td>{{row["aa"]}}</td>
        <td>{{row["cc"]}}</td>
        <td>{{row["tx"]}}</td>
        <td>{{row["r"]}}</td>
      <tr>
    {% endfor %}
    </tbody>
  </table>
</div></div>


<ul class="nav nav-tabs annotation-tabs" id="myTab">
  <li class="active"><a href="#dbnsfp" data-toggle="tab">dbNSFP Annotations</a></li>
  <li><a href="#gatk" data-toggle="tab">GATK Annotations</a></li>
  <li><a href="#gene_model" data-toggle="tab">Gene Model</a></li>
  <li><a href="#raw" data-toggle="tab">Raw Record</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="dbnsfp">
    <dl class="dl-horizontal">
      {% for row in data["annotations"]["dbNSFP"] %}
        
        <dt>{{ row }}</dt>
          <dd>{{ data["annotations"]["dbNSFP"][row]}}</dd>
        
      {% endfor %}
    </dl>
  </div>
  <div class="tab-pane" id="gatk">
    <dl class="dl-horizontal">
      {% for row in data["annotations"] %}
        {% if row not in ["EFF","dbNSFP"] %}
        <dt>{{ row }}</dt>
          <dd>{{ data["annotations"][row]}}</dd>
        {% endif %}
      {% endfor %}
    </dl>
  </div>
  <div class="tab-pane" id="gene_model">
    Future home of a NikPlot(tm)
  </div>
  <div class="tab-pane" id="raw">
    <h3>Record</h3>
    {{ data | pprint(verbose=True)}}
    {% endblock %}
  </div>
</div>








{% macro esp_linkout(chrom, start, stop) -%}
    {% if stop == None %}
      http://evs.gs.washington.edu/EVS/PopStatsServlet?searchBy=chromosome&chromosome={{ chrom }}&chromoStart={{ start }}&chromoEnd={{ start + 1 }}
    {% else %}
    http://evs.gs.washington.edu/EVS/PopStatsServlet?searchBy=chromosome&chromosome={{ chrom }}&chromoStart={{ start }}&chromoEnd={{ stop }}
    {% endif %}
    
{%- endmacro %}

{% macro ucsc_linkout(chrom, start, stop) -%}
    {% if stop == None %}
      http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&org=human&position=chr{{ chrom }}%3A{{ start }}-{{ start + 1}}
    {% else %}
      http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&org=human&position=chr{{ chrom }}%3A{{ start }}-{{ stop }}
    {% endif %}
    
{%- endmacro %}