
{% macro make_row(row) %}
  <tr>
    {% for name in row %}
      <td>{{ row[name] }}</td>    
    {% endfor %}
  </tr>
{% endmacro %}

{% macro table_header(rows) %}
<thead><tr>
	{% for name in rows %}
      <th>{{ name }}</th>    
    {% endfor %}
</tr></thead>
{% endmacro %}

{% macro search_form() %}

    <form id="sidebar_search_form">
	<div class="input-append">
  		<input class="span9" id="sidebar_search_field" type="text" placeholder="">
  		<button class="btn" type="button">Search</button>
	</div>    	
	</form>
	<script>
	$(document).ready(function() {
    	//$('#search_field').focus();
    	$("#sidebar_search_form").submit(function(){
  			window.location.href="/variants/" + $("#sidebar_search_field").val();
  			return false;
		});
	});

	</script>
{% endmacro %}	

{% macro type_tag(type) %}
 {%- set tag_labels = {"exonic": "label-important",
 					   "intronic": "",
 					   "splicing": "label-warning",
 					   "UTR5": "label-info",
 					   "UTR3": "label-info",
 					   "intergenic":""}
 %}

<span class="label {{tag_labels[type]}}">
	{{ type }}
</span>
{% endmacro %}

{% macro type_badge(type, count) %}
 {%- set tag_labels = {"exonic": "badge-important",
 					   "intronic": "",
 					   "splicing": "badge-warning",
 					   "UTR5": "badge-info",
 					   "UTR3": "badge-info",
 					   "intergenic":""}
 %}

<span class="badge {{tag_labels[type]}}">
	{{ count }}
</span>
{% endmacro %}