{% import 'macros.html' as macros %}
{% extends "layout.html" %}

{% set active_page = "view_variants" %}
{% block title %}
Variant Details
{% endblock %}

{% block content %}


<h3>Basic Information</h3>
<dl class="dl-horizontal">
  <dt>Position</dt>
    <dd>chr{{ data["chrom"] }}:{{data["start"]}}-{{data["end"]}}</dd>
  <dt>Sample ID</dt>
    <dd><a href='/samples/id:{{ data["sample_id"] }}'>{{ data["sample_name"] }}</a></dd>
  <dt>Alt / Ref</dt>
    <dd>{{ data["alt"]}}  / {{ data["ref"] }}</dd>
  {% if "id" in data %}
    <dt>dbSNP</dt>
      <dd><a href="http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs={{ data["id"]|replace('rs','')}}">{{ data["id"]|default("")}}</a></dd> 
  {% endif %}
</dl>
<h3>SnpEff Annotations (Functional predictions)</h3>
<dl class="dl-horizontal">
  {% for row in data["annotations"]["EFF"] %}
    <dt>{{ row["e"] }}</dt>
      <dd>{{ row}}</dd>

  {% endfor %}
</dl>
<h3>VCF Annotations</h3>
<dl class="dl-horizontal">
  {% for row in data["annotations"] %}
    {% if row != "EFF" %}
    <dt>{{ row }}</dt>
      <dd>{{ data["annotations"][row]}}</dd>
    {% endif %}
  {% endfor %}
</dl>

<h3>Record</h3>
{{ data | pprint(verbose=True)}}

{% endblock %}
