{% import 'macros.html' as macros %}
{% extends "layout.html" %}

{% set active_page = "view_variants" %}
{% block title %}
	Variants
{% endblock %}

{% block content %}

    <legend>Search for Variants</legend>
    <form class="form-search" id="search_form">
  		<input type="text" id="search_field" class="input-xlarge search-query" placeholder="Gene Name or Chr:Start-End">
  		<button type="submit" class="btn btn-primary">Search</button>
	</form>
	<script>
	$(document).ready(function() {
    	$('#search_field').focus();
    	$("#search_form").submit(function(){
  			window.location.href="/variants/" + $("#search_field").val();
  			return false;
		});
	});

	</script>
{% endblock %}
