{% import 'macros.html' as macros %}
{% extends "layout.html" %}

{% set active_page = "view_variants" %}
{% block header%}
<link href="/static/custom.css" rel="stylesheet" media="screen">
{% endblock %}
{% block title %}
Variant Details
{% endblock %}

{% block content %}


<h3>Basic Information</h3>
<dl class="dl-horizontal">
  <dt>Position</dt>
    <dd>chr{{ variant_data["chrom"] }}:{{variant_data["start"]}}-{{variant_data["end"]}}</dd>
  <dt>Alt / Ref</dt>
    <dd>TODO</dd>
  {% if "id" in data %}
    <dt>dbSNP</dt>
      <dd><a href="http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs={{ data["id"]|replace('rs','')}}">{{ data["id"]|default("")}}</a></dd> 
  {% endif %}
</dl>
<h3>SnpEff Annotations (Functional predictions)</h3>
<div class="row-fluid">
  <div class="span8">
<table class="table">
  <thead>
    <th>Type</th><th>Gene</th><th>AA Change</th><th>Codon Change</th><th>Transcript</th><th>Exon #</th>
  </thead>
  <tbody>
    {% for row in variant_data["annotations"]["EFF"] %}
      <tr>
        <td><span class="label impact-tag {{ row['effect_code'] }}">{{row["e"]}}</span></td>
        <td><a href="/variants/{{row["g"]}}">{{row["g"]}}</a></td>
        <td>{{row["aa"]}}</td>
        <td>{{row["cc"]}}</td>
        <td>{{row["tx"]}}</td>
        <td>{{row["r"]}}</td>
      <tr>
    {% endfor %}
    </tbody>
  </table>
</div></div>
<h3>Variant Frequency</h3>

<h3>Found {{genotype_data.count()}} genotypes for this variant</h3>
<div class="row-fluid">
  <div class="span8">
<table class="table">
  <thead>
    <th>Sample</th><th>Ref</th><th>Alt</th><th>Filters/Sets</th><th>Data</th><th>Details</th>
  </thead>
  <tbody>
    {% for row in genotype_data %}
      <tr>
        <td>{{row["sample_name"]}}</td>
        <td>{{row["ref"]}}</td>
        <td>{{row["alt"]}}</td>
        <td>{{row["data"]}}</td>
        <td>{{row["filter"]}}</td>
        <td><a href='/genotypes/id:{{row["_id"]}}'>Details</a></td>
      <tr>
    {% endfor %}
    </tbody>
  </table>
</div></div>



{% endblock %}
