{% import 'macros.html' as macros %}
{% extends "layout.html" %}

{% set active_page = "view_variants" %}
{% block title %}
	{{ title }}
{% endblock %}

{% block header %}
	<link href="/static/custom.css" rel="stylesheet" media="screen">
	<link href="/static/datatables/datatables.view_variants_specific.css" rel="stylesheet" media="screen">
	<script src="/static/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="/static/datatables/media/js/ColVis.min.js"></script>
	<script src="/static/datatables/datatables.view_variants_specific.js"></script>	
	<script src="/static/d3.v3/d3.v3.min.js"></script>
	<script src="/static/gene_model.js"></script>
	<link href="/static/gene_model.css" rel="stylesheet" media="screen">
	<style>

		.toolbar-pills .active a,
		.toolbar-pills .active a:hover {background-color: #888888;}
		.toolbar-btn {height: 40px !important}
		.toolbar-btn-radio{
			font-weight: bold;
		}
		.select-menu-item {
			display: table-cell;
			padding-right: 8px;
			width: 14px !important;
		}
		.select-menu {
			padding-left: 8px !important;

		}
		.variant_table {
			padding-top: 20px;
		}
	</style>

<script>
	function getURLParameter(name) {
	    return decodeURI(
	        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
	    );
	}

	function build_toolbar(){
		$("div.toolbar").html('<div id="set_labels" class="span10"></div>');
	}

	function build_alerts(){
		console.log(alerts)
		if (alerts.length > 0){
			html = ""
			for (i = 0; i < alerts.length; i++){
				html += alerts[i]
			}
			$("#alerts").html(html)
			$("#alerts").addClass("span12")
		} else {
			$("#alerts").removeClass("span12")
			$("#alerts").html("")
		}
	}

	function build_column_selector(index, element){
		// create <li> elements for all the columns
		col_name = element["sName"]
		col_title = element["sTitle"]
		if (element["bVisible"]){
			$("#column_selector").append("<li><a class='select-menu' href='#' " +
												 "onClick='toggle_column(this,\"" + col_name + "\"," + index + ")'>" + 
												 "<span class='select-menu-item'><i class='icon-ok'></i></span>" +
												 "<span class='select-menu-item'>" + col_title + "</a></span></li>")
		} else {
			$("#column_selector").append("<li><a class='select-menu' href='#' " +
												 "onClick='toggle_column(this,\"" + col_name + "\"," + index + ")'>" + 
												 "<span class='select-menu-item'></span>" + 
												 "<span class='select-menu-item'>" + col_title + "</a></span></li>")
		}
	}

	function build_dtable(url){
		loaded_cols = dtable_columns.filter(function (el) {
			if (el["isLoaded"]==true){
				return el
			}
		})
		dtable = $('#example').dataTable( {
			"sDom": "<'row-fluid'<'test'>r>t<'row-fluid'<'span4'i><'span4'l><'span4'p>>",
			"sPaginationType": "bootstrap",
			"oLanguage": {
				"sLengthMenu": "_MENU_ variants per page",
			},
			"fnInfoCallback": function( oSettings, iStart, iEnd, iMax, iTotal, sPre ) {
							alerts = []
					        if (iTotal < query_limit) {
					            return "Showing "+iStart+"-"+iEnd+" of "+iTotal+" total rows";
					        }
					        else {
					            alerts.push("<div class='alert alert-error'>Not all rows are loaded, some variants are hidden! Please use additional filters or <a href='#optionsModal' data-toggle='modal'>set a higher query limit</a>.</div>")
					            return "Showing "+iStart+"-"+iEnd+
					            " of <span style='color: red; font-weight: bold;'>"+iTotal+"+ rows</span>";

					        }},
			"bDeferRender": true,
			//"fnDrawCallback": function(){update_variants(this);},
			"fnDrawCallback": function(){build_alerts();},
			"aaSorting": [ [0,'asc'], [1,'asc'] ],
			"bStateSave": true,
			"aoColumns": loaded_cols,
			"bProcessing": true,
        	"bServerSide": false,
        	"sAjaxSource": url
		} );
		// build the column_selector dropdown box based on all columns
		$("#column_selector").empty()
		$(dtable_columns).each(build_column_selector);
	}
	/* Table initialisation */
	var dtable;
	var dtable_columns=[{"sTitle":"Chrom", "sWidth":"5%","sName":"chrom", "isLoaded": true, "bVisible": true},
						{"sTitle":"Start", "sWidth":"7.5%","sName":"start", "isLoaded": true, "bVisible": true},
						{"sTitle":"Stop", "sWidth":"7.5%","sName":"stop", "isLoaded": true, "bVisible": true},
						{"sTitle":"Sample","bSearchable": true, "sWidth":"10%","sType": "numeric","sName":"sample", "isLoaded": true, "bVisible": true},
						{"sTitle":"dbSNP","bSearchable": true, "sWidth":"10%","sName":"dbsnp", "isLoaded": true, "bVisible": true},
						{"sTitle":"Ref","bSearchable": false, "sWidth":"3%", "bSortable": false,"sName":"ref", "isLoaded": true, "bVisible": true},
						{"sTitle":"Alt","bSearchable": false, "sWidth":"3%", "bSortable": false,"sName":"alt", "isLoaded": true, "bVisible": true},
						{"sTitle":"Filters/Sets","bSearchable": true, "sWidth":"10%","sName":"filters", "isLoaded": true, "bVisible": true},
						{"sTitle":"Gene","bSearchable": true, "sWidth":"10%","sName":"gene", "isLoaded": true, "bVisible": true},
						{"sTitle":"Effect","bSearchable": true, "sWidth":"15%","sName":"effect", "isLoaded": true, "bVisible": true},
						{"sTitle":"id","bSearchable": false,"sName":"id", "isLoaded": true, "bVisible": true},
						{"sTitle": "VCF:data", "sName": "data", "isLoaded": false, "isDefault": false},
					    {"sTitle": "VCF:qual", "sName": "qual", "isLoaded": false, "isDefault": false},
					    {"sTitle": "AA Change", "sName": "annotations.EFF.aa", "isLoaded": false, "isDefault": false},
					    {"sTitle": "Transcript", "sName": "annotations.EFF.tx", "isLoaded": false, "isDefault": false},
					    {"sTitle": "Exon", "sName": "annotations.EFF.r", "isLoaded": false, "isDefault": false},
					    {"sTitle": "ESP AA AF", "sName": "annotations.dbNSFP.ESPaa", "isLoaded": false, "isDefault": false},
					    {"sTitle": "ESP EA AF", "sName": "annotations.dbNSFP.ESPea", "isLoaded": false, "isDefault": false},
					    {"sTitle": "SIFT Score", "sName": "annotations.dbNSFP.SIFT", "isLoaded": false, "isDefault": false},
					    {"sTitle": "PhyloP Score", "sName": "annotations.dbNSFP.PyP", "isLoaded": false, "isDefault": false},
					    {"sTitle": "PolyPhen2 Score", "sName": "annotations.dbNSFP.P2hdiv", "isLoaded": false, "isDefault": false},
					    ];

	var filter_string = ""
	var sets = {}
	var url_sets = []
	if (getURLParameter("include_filters") !== "null"){
		f = getURLParameter("include_filters").split(";")
		for (i in f){
			url_sets.push(f[i].split(":")[1])
		}
	}
	
	var query_string = ""
	if (getURLParameter("sample_id") !== "null"){
		query_string = "&sample_id=" + getURLParameter("sample_id")
	} else if (getURLParameter("gene") !== "null"){
		query_string = "&gene=" + getURLParameter("gene")
	} else if (getURLParameter("chrom") !== "null"){
		query_string = "&chrom=" + getURLParameter("chrom")	+
					   "&start=" + getURLParameter("start")	+
					   "&end=" + getURLParameter("end")
	} else{
		query_string = "{{ query_string }}"
	}
	
	var column_string = ""

	if (getURLParameter("group") !== "null"){
		var grouping_state = getURLParameter("group")
		var group_string = "&group=" + grouping_state
	} else{
		var grouping_state = "genotype"
		var group_string = ""
	}

	if (getURLParameter("limit") > 0){
		var query_limit = getURLParameter("limit")
	} else{
		var query_limit = 1000
	}
	var limit_string = "limit=" + query_limit
	var view_mode = ""
	var alerts = []

	function toggle_grouping(grouping){
		if (variant_grouping_enabled & grouping == "variant"){
			//dtable.fnReloadAjax('/_variants.json?' + query_string + '&'+ filter_string + '&group=variant'+ '&'+ limit_string);
			reload_table('/_variants.json?' + query_string + '&'+ filter_string + '&group=variant'+ '&'+ limit_string);
			console.log('/_variants.json?' + query_string + '&'+  filter_string +  '&group=variant'+ '&'+ limit_string)
			grouping_state = "variant"
			group_string = '&group=variant'
			//$("#genotype_pill").removeClass("active")
			//$("#variant_pill").addClass("active")
			$($("#example thead tr th")[3]).text("# of Samples")
		}
		else{
			//dtable.fnReloadAjax('/_variants.json?' + query_string + '&'+ filter_string+ '&'+ limit_string);
			reload_table('/_variants.json?' + query_string + '&'+ filter_string+ '&'+ limit_string);
			console.log('/_variants.json?' + query_string + '&'+ filter_string+ '&'+ limit_string)
			grouping_state = "genotype"
			group_string = ''
			//$("#genotype_pill").addClass("active")
			//$("#variant_pill").removeClass("active")			
			$($("#example thead tr th")[3]).text("Sample")
		}
	}

	function toggle_view(view_mode){
		if (view_mode == "table"){
			$(".variant_table").show()
			$(".geneplot_div").hide()
		}
		else {
			$(".variant_table").hide()
			$(".geneplot_div").show()
		}
	}

	function create_set_label(set_item){
		id = set_item.filter_name
		if (set_item["filter_title"] != undefined){
			title = set_item.filter_title
		} else {title = set_item.filter_name}
		prefix = set_item.prefix
		color = set_item.color
		return '<div class="btn-group" id='+id+'>' + 
			   '<button class="btn btn '+color+' no-hover"><b>'+prefix + '</b>: '+title+'</button>' + 
			   '<button class="btn btn '+color+'" onClick=\'remove_filter("'+id+'")\'>x</button></div>'
	};

	function build_filter_string(sets){
		var filter_string = "include_filters="
			for (var set in sets){
				if (sets[set].applied){
					filter_string += sets[set].type + ":" + sets[set].filter_name + ";";
				}
			}
		return filter_string
	}

	function remove_filter(item){
		$("#"+item).remove();
		sets[item].applied = false;
		filter_string = build_filter_string(sets);
		reload_table( '/_variants.json?' + query_string + "&" + filter_string + '&'+ group_string  + '&'+ column_string+ '&'+ limit_string);
	}

	function remove_all_filters(){
		for (var set in sets) {
			$("#"+sets[set].item).remove();
			sets[set].applied = false;
			console.log(sets[set])
		};
		filter_string = build_filter_string(sets);
		reload_table( '/_variants.json?' + query_string + "&" + filter_string + '&'+ group_string  + '&'+ column_string+ '&'+ limit_string);	
	}

	function add_filter(item){
		$('#set_labels').append(create_set_label(sets[item]));
		sets[item].applied = true;
		sets[item].item = item
		filter_string = build_filter_string(sets);
		reload_table('/_variants.json?' + query_string + "&" + filter_string + '&'+ group_string + '&'+ column_string+ '&'+ limit_string);
	}

	function set_up_filter_modal(){
		for (var set in sets){
			if (sets[set].applied){
				$("#modal_" + sets[set].item).addClass(sets[set].color);
			}
			else {
				$("#modal_" + sets[set].item).removeClass(sets[set].color);
			}
		}
	}

	function reload_table(url, rebuild){
		console.log(url)

		
		rebuild = typeof rebuild !== 'undefined' ? rebuild : false;
		if (rebuild) {
			dtable.fnDestroy();
			$('#example').empty();
			build_dtable(url);
		} else {
			dtable.fnReloadAjax(url);
		}
		base_url = window.location.href.split("?")[0]

		history_url = base_url + "?" + url.slice(16)
		window.history.pushState({}, "", history_url);
	}

	function toggle_column(item,column_name,iCol){
		//if ($.map(dtable_columns, function (e) { return e["sName"] }).indexOf(column_name) != -1){
		if (dtable_columns[iCol].isLoaded == true){
			// column is already loaded, just need to toggle visilibyt
			loaded_cols = dtable.fnSettings().aoColumns
			loaded_iCol = $.map(loaded_cols, function (e) { return e["sName"] }).indexOf(column_name)
			var bVis = loaded_cols[loaded_iCol].bVisible;
			if (bVis){
				$(item).children()[0].innerHTML= ""
				dtable_columns[iCol].bVisible = false
			} else {
				$(item).children()[0].innerHTML= '<i class="icon-ok"></i>'
				dtable_columns[iCol].bVisible = true
			}
			dtable.fnSetColumnVis( loaded_iCol, bVis ? false : true );	
		} else {
			// must load column from database!
			dtable_columns[iCol].isLoaded=true
			dtable_columns[iCol].bVisible=true
			column_string = "columns="
			$(dtable_columns).each(function(index, el){
									if (el.isDefault==false & el.isLoaded){
										column_string += el.sName + ";"
									}
								   });
			console.log(column_string)
			var url = '/_variants.json?' + query_string + "&" + filter_string + '&'+ group_string + '&'+ column_string + '&' + limit_string
			reload_table(url, true);
		}
		
	}

	function set_query_limit(){
		
		limit = parseInt($("#query_limit").val())
		if (typeof limit === 'number'){
			query_limit = limit	
			limit_string = "limit=" + limit
			var url = '/_variants.json?' + query_string + "&" + filter_string + '&'+ group_string + '&'+ column_string + '&' + limit_string
			reload_table(url, true)
		}

	}

	/* download the filters from server, populate the sets[] array and set up the typeahead*/
	$(document).ready(function() {
		$.getJSON('/filters.json', function(data){
										data = data["result"]
										for (var i = 0; i < data.length; i++) {

											sets[data[i].filter_name] = data[i]
											if (url_sets.indexOf(data[i].filter_name) >= 0){
												add_filter(data[i].filter_name)
												sets[data[i].filter_name].applied = true
											}
											
										}
										$('#set_search').typeahead({'source': Object.keys(sets), 
																	'updater': add_filter,
																	'minLength': 0,
																   }
								);
		});
		if (query_string == ""){
			$("#variant_group_btn").addClass("disabled")
			$("#variant_group_btn").attr("disabled", "disabled");
			$("#genotype_group_btn").addClass("active")
			variant_grouping_enabled = false;
			console.log("disabling group by variant")
		}
		else {
			variant_grouping_enabled = true;
			console.log(grouping_state)
			if (grouping_state=="variant"){
				console.log("test")
				$("#genotype_group_btn").removeClass("active");
				$("#variant_group_btn").addClass("active");
				$($("#example thead tr th")[3]).text("# of Samples");
			} else {
				$("#genotype_group_btn").addClass("active");
				$("#variant_group_btn").removeClass("active");
				$($("#example thead tr th")[3]).text("Sample");
			}
		}

		if (query_string.split("=")[0] == "gene"){
			// enable gene plot view here
			//build_geneplot(isoform);
		} else {
			// disable GenePlot button
			$("#geneplot_view_btn").attr("disabled", "disabled");
		}
		// set up column selector
		$('#column_selector').click(function(event){
	    	 event.stopPropagation();
	 	});

		var url = '/_variants.json?' + query_string + "&" + filter_string + '&'+ group_string + '&'+ column_string + '&' + limit_string
		console.log(url)
		build_dtable(url);
		build_toolbar();
		//build_alerts();
		$("#query_limit").val(query_limit)
		

	});
</script>  
{% endblock %}

{% block content %}
	<div class="row-fluid">
	<div class="span3">
	<form class="form-inline" action="#">
		<div class="input-append">
	  		<input id="set_search" class='span8 toolbar-btn' style='font-size: 16px' accesskey='s' type="text" placeholder="Type to filter..." data-provide="typeahead" autocomplete="off" />
	  		<button data-target="#myModal" role="button" class="btn toolbar-btn" data-toggle="modal" onClick="set_up_filter_modal()">Browse</button>
	  		<button class="btn toolbar-btn" onClick='remove_all_filters();'>Clear</button>
	  	</div>

  	</form>
	  	
	</div>

	<div class="span9">
		<!-- THE TOOLBAR -->
		<div class="btn-group">
	  		<button class="btn toolbar-btn dropdown-toggle" data-toggle="dropdown"><i class="icon-plus"></i> Columns</button>
  			<ul class="dropdown-menu" id="column_selector">
    			<!-- dropdown menu links are built by build_column_selector()-->
  			</ul>
	  	</div>
	  	
	  	<div class="btn-group" id='grouping_toggle_buttons' data-toggle="buttons-radio">
		  <button class="btn toolbar-btn toolbar-btn-radio active" id='genotype_group_btn' onClick='toggle_grouping("genotype"); return false;'>Genotypes</button>
		  <button class="btn toolbar-btn toolbar-btn-radio" id='variant_group_btn' onClick='toggle_grouping("variant"); return false;'>Variants</button>
		</div>
		<div class="btn-group" id='table_view_toggle_buttons' data-toggle="buttons-radio">
		  <button class="btn toolbar-btn toolbar-btn-radio active" id='table_view_btn' onClick='toggle_view("table"); return false;'>Table</button>
		  <button class="btn toolbar-btn toolbar-btn-radio" id='geneplot_view_btn' onClick='toggle_view("geneplot"); return false;'>GenePlot</button>
		</div>

		<div class="btn-group">
			<button href='#optionsModal' class="btn toolbar-btn" data-toggle="modal">Options...</button>
		</div>
		
		<div class="btn-group pull-right">
			<button class="btn toolbar-btn dropdown-toggle pull-right" data-toggle="dropdown" onClick=''><i class="icon-file"></i> Download</button>
			<ul class="dropdown-menu" id="save_selector">
    			<li><a class='select-menu'>As CSV</a></li>
    			<li><a class='select-menu'>As VCF</a></li>
    			<li><a class='select-menu'>As HTML Report</a></li>
  			</ul>
		</div>
	</div>
	</div>
	<div class='toolbar'></div><div id='alerts' class='span12' style='margin: 0px; min-height:15px; margin-top: 5px'></div><!--  margin-top: 5px; margin-bottom:5px'-->
	<div class='variant_table'>
		<table class="table table-hover table-condensed" id="example"></table>
	</div>

	<div id='geneplot_div'></div>
	
    <script>
    var isoform = "NM_020920.3";
    
    var gene_model;
    var data;
    var domains;
    var eff_data = null;
    var numberPattern = /\d+/g;

    function update_variants(table){
    	if (gene_model != null){
	    	dtable_data = table.fnGetData()
	        variants_positions = []
	        for (var i=0; i < dtable_data.length; i++){
	        	p = dtable_data[i][11].match(numberPattern)
	        	if (p != null){
	    	   		variants_positions.push(p)
	    	   	}
	        }
	        if (variants_positions.length > 0){
	        	draw_variants(variants_positions);
	        }
	      }
    }
    function build_geneplot(isoform){
    	gene_model = d3.select("#geneplot_div").
                append("svg:svg").
                attr("id","gene_model_svg").
                attr("width", 900).
                attr("height", 300);
        $.getJSON("/uniprot/"+isoform+".json", function(d) {
                   data = d;
                   domains = []
                   features = d["result"][0]["features"];
                   for (var i = 0; i < features.length; i++) {
                        if (PLOT_FEATURES.indexOf(features[i][0]) >= 0){
                            domains.push({"start": features[i][1], 
                                          "stop": features[i][2],
                                          "type": features[i][0],
                                          "name": features[i][3]
                                        });
                        }
                   }
                   aa_length = d["result"][0]["sequence_length"]
                   console.log(aa_length)
                   draw_model(gene_model, domains, aa_length);
                });
    };  


    </script>
	</div>


	<div id="myModal" class="modal hide" style="margin: 120px 0 0 -280px;" tabindex="-1" data-backdrop="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    		<h3 id="myModalLabel">Browse available filters and sets:</h3>
  		</div>
  	    <div class="modal-body">
    		<table class="table table-hover table-condensed" data-provides="rowlink">
				<thead>
					<th>Description</th>
					<th>Click to enable</th>
				</thead>
				<tbody>
				{% for row in filters %}
					<tr>
						<td>
							{{ row["description"] }}
						</td>
						<td>
							<button id="modal_{{row["filter_name"]}}" href="#" class='btn btn-small' onClick='add_filter("{{ row["filter_name"] }}"); $(this).addClass("{{ row["color"] }}");' type="button">{{ row["filter_name"] }}</button>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
	    </div>
	    <div class="modal-footer">
	    	<button class="btn" data-dismiss="modal" aria-hidden="true" onClick="console.log('cancel'); remove_all_filters()">Cancel</button>
	    	<button class="btn btn-primary" data-dismiss="modal">Done</button>
	    </div>
	</div>

	<!--options modal -->
	<div id="optionsModal" class="modal hide" style="margin: 120px 0 0 -280px;" tabindex="-1" data-backdrop="0" role="dialog" aria-labelledby="optionsModal" aria-hidden="true">
  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    		<h3 id="myModalLabel">Options:</h3>
  		</div>
  	    <div class="modal-body">
    		<form id='options_form' action="javascript:set_query_limit(); $('#optionsModal').toggle(); return false" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="query_limit"><b>Query Limit</b></label>
				<div class="controls">
    				<input id='query_limit' type='text'/>
    			</div>
			</div>
			</form>
    		
	    </div>
	    <div class="modal-footer">
	    	<button class="btn btn-primary" data-dismiss="modal" onClick='set_query_limit()'>Done</button>
	    </div>
	</div>

{% endblock %}
