{% import 'macros.html' as macros %}
{% extends "layout.html" %}

{% set active_page = "view_variants" %}
{% block title %}
	{{ title }}
{% endblock %}

{% block header %}
	<link href="/static/custom.css" rel="stylesheet" media="screen">
	<link href="/static/datatables/datatables.view_variants_specific.css" rel="stylesheet" media="screen">
	<script src="/static/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="/static/datatables/media/js/ColVis.min.js"></script>
	<script src="/static/datatables/datatables.view_variants_specific.js"></script>	

	<style>
	.toolbar-pills .active a,
	.toolbar-pills .active a:hover {background-color: #888888;}
	.toolbar-btn {height: 40px !important}
	.select-menu-item {
		display: table-cell;
		padding-right: 8px;
		width: 14px !important;
	}
	.select-menu {
		padding-left: 8px !important;

	}
	</style>
	<script>
	function build_toolbar(){
		html_str = '<div class="span2"><ul class="nav nav-pills toolbar-pills">';
		html_str += '<li id="genotype_pill" class="active"><a href="#" onClick="toggle_grouping(\'genotype\')">By genotype</a></li>';
		html_str += '<li id="variant_pill"><a href="#" onClick="toggle_grouping(\'variant\')">By variant</a></li></ul></div>';
		html_str += '<div id="set_labels" class="span10"></div>'
		return html_str
	}

	function build_column_selector(index, element){
		// create <li> elements for all the columns
		col_name = element["sName"]
		col_title = element["sTitle"]
		if (element["bVisible"]){
			$("#column_selector").append("<li><a class='select-menu' href='#' onClick='toggle_column(this,\"" + col_name + "\"," + index + ")'><span class='select-menu-item'><i class='icon-ok'></i></span><span class='select-menu-item'>" + col_title + "</a></span></li>")
		} else {
			$("#column_selector").append("<li><a class='select-menu' href='#' onClick='toggle_column(this,\"" + col_name + "\"," + index + ")'><span class='select-menu-item'></span><span class='select-menu-item'>" + col_title + "</a></span></li>")
		}
	}

	function build_dtable(url){
		loaded_cols = dtable_columns.filter(function (el) {
			if (el["isLoaded"]==true){
				return el
			}
		})
		dtable = $('#example').dataTable( {
			"sDom": "<'row-fluid'<'test'>r>t<'row-fluid'<'span4'i><'span4'l><'span4'p>>",
			"sPaginationType": "bootstrap",
			"oLanguage": {
				"sLengthMenu": "_MENU_ variants per page"
			},
			"bDeferRender": true,
			"aaSorting": [ [0,'asc'], [1,'asc'] ],
			"bStateSave": true,
			"aoColumns": loaded_cols,
			"bProcessing": true,
        	"bServerSide": false,
        	"sAjaxSource": url
		} );
		// build the column_selector dropdown box based on all columns
		$("#column_selector").empty()
		$(dtable_columns).each(build_column_selector);
		
	}
	/* Table initialisation */
	var dtable;
	var dtable_columns=[{"sTitle":"Chrom", "sWidth":"5%","sName":"chrom", "isLoaded": true, "bVisible": true},
						{"sTitle":"Start", "sWidth":"7.5%","sName":"start", "isLoaded": true, "bVisible": true},
						{"sTitle":"Stop", "sWidth":"7.5%","sName":"stop", "isLoaded": true, "bVisible": true},
						{"sTitle":"Sample","bSearchable": true, "sWidth":"10%","sType": "numeric","sName":"sample", "isLoaded": true, "bVisible": true},
						{"sTitle":"dbSNP","bSearchable": true, "sWidth":"10%","sName":"dbsnp", "isLoaded": true, "bVisible": true},
						{"sTitle":"Ref","bSearchable": false, "sWidth":"3%", "bSortable": false,"sName":"ref", "isLoaded": true, "bVisible": true},
						{"sTitle":"Alt","bSearchable": false, "sWidth":"3%", "bSortable": false,"sName":"alt", "isLoaded": true, "bVisible": true},
						{"sTitle":"Filters/Sets","bSearchable": true, "sWidth":"10%","sName":"filters", "isLoaded": true, "bVisible": true},
						{"sTitle":"Gene","bSearchable": true, "sWidth":"10%","sName":"gene", "isLoaded": true, "bVisible": true},
						{"sTitle":"Effect","bSearchable": true, "sWidth":"15%","sName":"effect", "isLoaded": true, "bVisible": true},
						{"sTitle":"id","bSearchable": false,"sName":"id", "isLoaded": true, "bVisible": true},
						{"sTitle": "VCF:data", "sName": "data", "isLoaded": false, "isDefault": false},
					    {"sTitle": "VCF:qual", "sName": "qual", "isLoaded": false, "isDefault": false},
					    {"sTitle": "AA Change", "sName": "annotations.EFF.aa", "isLoaded": false, "isDefault": false},
					    {"sTitle": "Transcript", "sName": "annotations.EFF.tx", "isLoaded": false, "isDefault": false},
					    {"sTitle": "Exon", "sName": "annotations.EFF.r", "isLoaded": false, "isDefault": false},
					    {"sTitle": "ESP AA AF", "sName": "annotations.dbNSFP.ESPaa", "isLoaded": false, "isDefault": false},
					    {"sTitle": "ESP EA AF", "sName": "annotations.dbNSFP.ESPea", "isLoaded": false, "isDefault": false},
					    {"sTitle": "SIFT Score", "sName": "annotations.dbNSFP.SIFT", "isLoaded": false, "isDefault": false},
					    {"sTitle": "PhyloP Score", "sName": "annotations.dbNSFP.PyP", "isLoaded": false, "isDefault": false},
					    ];

	$(document).ready(function() {
		build_dtable("/_variants.json?" + query_string);
		console.log("/_variants.json?" + query_string);
		$("div.toolbar").html(build_toolbar());
	} );
</script>

<style>
.filter-tag {display: inline-block; 
			 width: 10px;
			 height: 10px;
			 background-color: gray;
			 margin: 1px;}
.GATK_filter {background-color: black;}
.Rare_variants {background-color: blue;}
.ORoak_denovo_2012 {background-color: orange;}

</style>

<script>
var sets = {}
var query_string = "{{ query_string }}"
var filter_string = ""
var group_string = ""
var column_string = ""
var grouping_state = "genotype"

function toggle_grouping(grouping){
	if (variant_grouping_enabled & grouping == "variant"){
		dtable.fnReloadAjax('/_variants.json?' + query_string + '&'+ filter_string + '&group=variant');
		console.log('/_variants.json?' + query_string + '&'+  filter_string +  '&group=variant')
		grouping_state = "variant"
		group_string = '&group=variant'
		$("#genotype_pill").removeClass("active")
		$("#variant_pill").addClass("active")
		$($("#example thead tr th")[3]).text("# of Samples")
	}
	else{
		dtable.fnReloadAjax('/_variants.json?' + query_string + '&'+ filter_string);
		console.log('/_variants.json?' + query_string + '&'+ filter_string)
		grouping_state = "genotype"
		group_string = ''
		$("#genotype_pill").addClass("active")
		$("#variant_pill").removeClass("active")			
		$($("#example thead tr th")[3]).text("Sample")
	}
}

function create_set_label(set_item){
	id = set_item.filter_name
	if (set_item["filter_title"] != undefined){
		title = set_item.filter_title
	} else {title = set_item.filter_name}
	prefix = set_item.prefix
	color = set_item.color
	return '<div class="btn-group" id='+id+'>' + 
		   '<button class="btn btn '+color+' no-hover"><b>'+prefix + '</b>: '+title+'</button>' + 
		   '<button class="btn btn '+color+'" onClick=\'remove_filter("'+id+'")\'>x</button></div>'
};

function build_filter_string(sets){
	var filter_string = "include_filters="
		for (var set in sets){
			if (sets[set].applied){
				filter_string += sets[set].type + ":" + sets[set].filter_name + ";";
			}
		}
	return filter_string
}

function remove_filter(item){
	$("#"+item).remove();
	sets[item].applied = false;
	filter_string = build_filter_string(sets);
	reload_table( '/_variants.json?' + query_string + "&" + filter_string + '&'+ group_string  + '&'+ column_string);
}

function remove_all_filters(){
	for (var set in sets) {
		$("#"+sets[set].item).remove();
		sets[set].applied = false;
		console.log(sets[set])
	};
	filter_string = build_filter_string(sets);
	reload_table( '/_variants.json?' + query_string + "&" + filter_string + '&'+ group_string  + '&'+ column_string);	
}

function add_filter(item){
	$('#set_labels').append(create_set_label(sets[item]));
	sets[item].applied = true;
	sets[item].item = item
	filter_string = build_filter_string(sets);
	reload_table('/_variants.json?' + query_string + "&" + filter_string + '&'+ group_string + '&'+ column_string);
}

function set_up_filter_modal(){
	for (var set in sets){
		if (sets[set].applied){
			$("#modal_" + sets[set].item).addClass(sets[set].color);
		}
		else {
			$("#modal_" + sets[set].item).removeClass(sets[set].color);
		}
	}
}

function reload_table(url, rebuild){
	console.log(url)
	rebuild = typeof rebuild !== 'undefined' ? rebuild : false;
	if (rebuild) {
		dtable.fnDestroy();
		$('#example').empty();
		build_dtable(url);
	} else {
		dtable.fnReloadAjax(url);
	}
}

function toggle_column(item,column_name,iCol){
	//if ($.map(dtable_columns, function (e) { return e["sName"] }).indexOf(column_name) != -1){
	if (dtable_columns[iCol].isLoaded == true){
		// column is already loaded, just need to toggle visilibyt
		loaded_cols = dtable.fnSettings().aoColumns
		loaded_iCol = $.map(loaded_cols, function (e) { return e["sName"] }).indexOf(column_name)
		var bVis = loaded_cols[loaded_iCol].bVisible;
		if (bVis){
			$(item).children()[0].innerHTML= ""
			dtable_columns[iCol].bVisible = false
		} else {
			$(item).children()[0].innerHTML= '<i class="icon-ok"></i>'
			dtable_columns[iCol].bVisible = true
		}
		dtable.fnSetColumnVis( loaded_iCol, bVis ? false : true );	
	} else {
		// must load column from database!
		dtable_columns[iCol].isLoaded=true
		dtable_columns[iCol].bVisible=true
		column_string = "columns="
		$(dtable_columns).each(function(index, el){
								if (el.isDefault==false & el.isLoaded){
									column_string += el.sName + ";"
								}
							   });
		console.log(column_string)
		var url = '/_variants.json?' + query_string + "&" + filter_string + '&'+ group_string + '&'+ column_string
		reload_table(url, true);
	}
	
}

/* download the filters from server, populate the sets[] array and set up the typeahead*/
$(document).ready(function() {
	$.getJSON('/filters.json', function(data){
									data = data["result"]
									for (var i = 0; i < data.length; i++) {
										sets[data[i].filter_name] = data[i]
									}
									$('#set_search').typeahead({'source': Object.keys(sets), 
																'updater': add_filter,
																'minLength': 0,
															   }
							);
	});
	if (query_string == ""){
		$("#variant_pill").addClass("disabled")
		variant_grouping_enabled = false;
		console.log("disabling group by variant")
	} else {
		variant_grouping_enabled = true;
	}
	// set up column selector
	$('#column_selector').click(function(event){
    	 event.stopPropagation();
 	});

});
</script>  
{% endblock %}

{% block content %}
	<div class="row-fluid">
	<div class="span3">
	<form class="form-inline" action="#">
		<div class="input-append">
	  		<input id="set_search" class='span8 toolbar-btn' style='font-size: 16px' accesskey='s' type="text" placeholder="Type to filter..." data-provide="typeahead" autocomplete="off" />
	  		<button data-target="#myModal" role="button" class="btn toolbar-btn" data-toggle="modal" onClick="set_up_filter_modal()">Browse</button>
	  		<button class="btn toolbar-btn" onClick='remove_all_filters();'>Clear</button>
	  	</div>

  	</form>
	  	
	</div>

	<div class="span3">
		<div class="btn-group">
	  		<button class="btn toolbar-btn dropdown-toggle" data-toggle="dropdown"><i class="icon-plus"></i> Columns</span></button>
  			<ul class="dropdown-menu" id="column_selector">
    			<!-- dropdown menu links are built by build_column_selector()-->
  			</ul>
	  	</div>

	</div>
	</div>
	<div class='toolbar'></div>
	<table class="table table-hover table-condensed" id="example">
	</table>


	<div id="myModal" class="modal hide" style="margin: 120px 0 0 -280px;" tabindex="-1" data-backdrop="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    		<h3 id="myModalLabel">Browse available filters and sets:</h3>
  		</div>
  	    <div class="modal-body">
    		<table class="table table-hover table-condensed" data-provides="rowlink">
				<thead>
					<th>Description</th>
					<th>Click to enable</th>
				</thead>
				<tbody>
				{% for row in filters %}
					<tr>
						<td>
							{{ row["description"] }}
						</td>
						<td>
							<button id="modal_{{row["filter_name"]}}" href="#" class='btn btn-small' onClick='add_filter("{{ row["filter_name"] }}"); $(this).addClass("{{ row["color"] }}");' type="button">{{ row["filter_name"] }}</button>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
	    </div>
	    <div class="modal-footer">
	    	<button class="btn" data-dismiss="modal" aria-hidden="true" onClick="console.log('cancel'); remove_all_filters()">Cancel</button>
	    	<button class="btn btn-primary" data-dismiss="modal">Done</button>
	    </div>
</div>

{% endblock %}
