{% import 'macros.html' as macros %}
{% extends "layout.html" %}

{% set active_page = "view_variants" %}
{% block title %}
	{{ title }}
{% endblock %}

{% block header %}
	<link href="/static/custom.css" rel="stylesheet" media="screen">
	<link href="/static/datatables/datatables.view_variants_specific.css" rel="stylesheet" media="screen">
	<script src="/static/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="/static/datatables/media/js/ColVis.min.js"></script>
	<script src="/static/datatables/datatables.view_variants_specific.js"></script>	
	<style>
	.toolbar-pills .active a,
	.toolbar-pills .active a:hover {
    	background-color: #888888;
	}
	</style>
	<script>
	var grouping_state = "genotype"

	function toggle_grouping(grouping){
		if (variant_grouping_enabled & grouping == "variant"){
			dtable.fnReloadAjax('/_variants.json?' + query_string + '&'+ filter_string + '&group=variant');
			console.log('/_variants.json?' + query_string + '&'+  filter_string +  '&group=variant')
			grouping_state = "variant"
			group_string = '&group=variant'
			$("#genotype_pill").removeClass("active")
			$("#variant_pill").addClass("active")
			$($("#example thead tr th")[3]).text("# of Samples")
		}
		else{
			dtable.fnReloadAjax('/_variants.json?' + query_string + '&'+ filter_string);
			console.log('/_variants.json?' + query_string + '&'+ filter_string)
			grouping_state = "genotype"
			group_string = ''
			$("#genotype_pill").addClass("active")
			$("#variant_pill").removeClass("active")			
			$($("#example thead tr th")[3]).text("Sample")
		}
	}

	function build_toolbar(){
		html_str = '<div class="span2"><ul class="nav nav-pills toolbar-pills">';
		html_str += '<li id="genotype_pill" class="active"><a href="#" onClick="toggle_grouping(\'genotype\')">By genotype</a></li>';
		html_str += '<li id="variant_pill"><a href="#" onClick="toggle_grouping(\'variant\')">By variant</a></li></ul></div>';
		html_str += '<div id="set_labels" class="span10"></div>'
		return html_str
	}
	/* Table initialisation */
	var dtable;
	$(document).ready(function() {
		dtable = $('#example').dataTable( {
			"sDom": "<'row-fluid'<'toolbar'>r>t<'row-fluid'<'span4'i><'span4'l><'span4'p>>",
			"sPaginationType": "bootstrap",
			"oLanguage": {
				"sLengthMenu": "_MENU_ variants per page"
			},
			"bDeferRender": true,
			"aaSorting": [ [0,'asc'], [1,'asc'] ],
			"bStateSave": true,
			"aoColumns": [ 
				{"sTitle":"Chrom", "sWidth":"5%"},
				{"sTitle":"Start", "sWidth":"7.5%"},
				{"sTitle":"Stop", "sWidth":"7.5%"},
				{"sTitle":"Sample","bSearchable": true, "sWidth":"10%","sType": "numeric"},
				{"sTitle":"dbSNP","bSearchable": true, "sWidth":"10%"},
				{"sTitle":"Ref","bSearchable": false, "sWidth":"3%", "bSortable": false},
				{"sTitle":"Alt","bSearchable": false, "sWidth":"3%", "bSortable": false},
				{"sTitle":"Filters/Sets","bSearchable": true, "sWidth":"10%"},
				{"sTitle":"Gene","bSearchable": true, "sWidth":"10%"},
				{"sTitle":"Effect <a href='#'>highest</a> | <a href='#'>all</a>","bSearchable": true, "sWidth":"15%"},
				{"sTitle":"id","bSearchable": false},
			],
			"bProcessing": true,
        	"bServerSide": false,
        	"sAjaxSource": "/_variants.json?" + query_string
		} );
		console.log("/_variants.json?" + query_string)	
		$("div.toolbar").html(build_toolbar());
	} );
</script>

<style>
.filter-tag {display: inline-block; 
			 width: 10px;
			 height: 10px;
			 background-color: gray;
			 margin: 1px;}
.GATK_filter {background-color: black;}
.Rare_variants {background-color: blue;}
.ORoak_denovo_2012 {background-color: orange;}

</style>

<script>

var sets = {}
var query_string = "{{ query_string }}"
var filter_string = ""
var group_string = ""
function create_set_label(set_item){
	id = set_item.filter_name
	if (set_item["filter_title"] != undefined){
		title = set_item.filter_title
	} else {title = set_item.filter_name}
	prefix = set_item.prefix
	color = set_item.color
	return '<div class="btn-group" id='+id+'>' + 
		   '<button class="btn btn '+color+' no-hover"><b>'+prefix + '</b>: '+title+'</button>' + 
		   '<button class="btn btn '+color+'" onClick=\'remove_filter("'+id+'")\'>x</button></div>'
};

function build_filter_string(sets){
	var filter_string = "include_filters="
		for (var set in sets){
			if (sets[set].applied){
				filter_string += sets[set].type + ":" + sets[set].filter_name + ";";
			}
		}
	return filter_string
}

function remove_filter(item){
	$("#"+item).remove();
	sets[item].applied = false;
	filter_string = build_filter_string(sets);
	console.log('/_variants.json?' + query_string + "&" + filter_string);
	reload_table( '/_variants.json?' + query_string + "&" + filter_string + '&'+ group_string);
}

function remove_all_filters(){
	for (var set in sets) {
		$("#"+sets[set].item).remove();
		sets[set].applied = false;
		console.log(sets[set])
	};
	filter_string = build_filter_string(sets);
	console.log('/_variants.json?' + query_string + "&" + filter_string);
	reload_table( '/_variants.json?' + query_string + "&" + filter_string + '&'+ group_string);	
}

function add_filter(item){
	$('#set_labels').append(create_set_label(sets[item]));
	sets[item].applied = true;
	sets[item].item = item
	filter_string = build_filter_string(sets);
	console.log('/_variants.json?' + query_string + "&" + filter_string);
	reload_table('/_variants.json?' + query_string + "&" + filter_string + '&'+ group_string);
}

function set_up_filter_modal(){
	for (var set in sets){
		if (sets[set].applied){
			$("#modal_" + sets[set].item).addClass(sets[set].color);
		}
		else {
			$("#modal_" + sets[set].item).removeClass(sets[set].color);
		}
	}
}

function reload_table(url){
	dtable.fnReloadAjax(url);
}

/* download the filters from server, populate the sets[] array and set up the typeahead*/
$(document).ready(function() {
	$.getJSON('/filters.json', function(data){
									data = data["result"]
									for (var i = 0; i < data.length; i++) {
										sets[data[i].filter_name] = data[i]
									}
									$('#set_search').typeahead({'source': Object.keys(sets), 
																'updater': add_filter,
																'minLength': 0,
															   }
							);
	});
	if (query_string == ""){
		$("#variant_pill").addClass("disabled")
		variant_grouping_enabled = false;
		console.log("disabling group by variant")
	} else {
		variant_grouping_enabled = true;
	}
});
</script>  
{% endblock %}

{% block content %}
	<div class="row-fluid">
	<div class="span3">
		<form class="form-inline" action="#">
		<div class="input-append">
	  	<input id="set_search" class='span8' style='height: 40px; font-size: 16px' accesskey='s' type="text" placeholder="Type to filter..." data-provide="typeahead" autocomplete="off" />
	  	<button data-target="#myModal" role="button" style='height: 40px' class="btn" data-toggle="modal" onClick="set_up_filter_modal()">Browse</button>
	  	<button class="btn" style='height: 40px' onClick='remove_all_filters();'>Clear</button>
	  </div>
	  	</form>
	  	
	</div>
	<!--<div id="set_labels" class="span9">
	</div>-->
	</div>

	<table class="table table-hover table-condensed" id="example">
	</table>


	<div id="myModal" class="modal hide" style="margin: 120px 0 0 -280px;" tabindex="-1" data-backdrop="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    		<h3 id="myModalLabel">Browse available filters and sets:</h3>
  		</div>
  	    <div class="modal-body">
    		<table class="table table-hover table-condensed" data-provides="rowlink">
				<thead>
					<th>Description</th>
					<th>Click to enable</th>
				</thead>
				<tbody>
				{% for row in filters %}
					<tr>
						<td>
							{{ row["description"] }}
						</td>
						<td>
							<button id="modal_{{row["filter_name"]}}" href="#" class='btn btn-small' onClick='add_filter("{{ row["filter_name"] }}"); $(this).addClass("{{ row["color"] }}");' type="button">{{ row["filter_name"] }}</button>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
	    </div>
	    <div class="modal-footer">
	    	<button class="btn" data-dismiss="modal" aria-hidden="true" onClick="console.log('cancel'); remove_all_filters()">Cancel</button>
	    	<button class="btn btn-primary" data-dismiss="modal">Done</button>
	    </div>
</div>

{% endblock %}
