
.impact-tag {font-weight: normal; 
			 text-shadow: none !important;}
.high {background-color: #b94a48;}
.moderate {background-color: #f89406;}
.low {background-color: #468847}
.modifier {background-color: #999999}